rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
    	allow read, write: if request.auth != null && request.auth.uid == uid;

      match /vehicles/{vehicleId} {
        allow read, write: if true;
      }

      match /activities/{activityId} {
        allow read, write: if true;
      }

      match /check-in/{checkInId} {
        allow read, write: if true;
      }
    }

    match /lots/{lotId} {
    	allow read, write: if true;
      allow update, delete: if false;
    }
  }
}
