:host {
  display: block;
}

.horizontal-scroll {
  padding: 10px 0px;
  mat-card {
    width: 56px;
    min-width: 64px;
    color: #000000;
    border: 1px solid #000000;
    overflow: hidden;
    mat-icon {
      position: relative;
    }
  }
}

.mat-list-base .mat-list-item::ng-deep {
  .mat-list-item-content {
    padding-left: 0;
    padding-right: 0;
  }
}

mat-card.action {
  background-color: rgba(#000000, 0.12);
}
