:host {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  height: 100%;
}

.name {
  line-height: 1;
}
.main {
  flex-grow: 1;
}
.add-balance {
  position: absolute;
  right: 16px;
  bottom: -20px;
  color:  #000000;
}

.horizontal-scroll {
  padding: 10px 16px;
  mat-card {
    width: 120px;
    min-width: 120px;
    height: 100px;
    overflow: hidden;
    mat-icon {
      opacity: 0.3;
      font-size: 48px;
      top: -20px;
      position: relative;
    }
  }
}

.top {
  display: flex;
  justify-content: flex-end;
}

.center {
  text-align: center;
}

mat-card.action {
  line-height: 1;
  border-radius: 10px;
  color: rgba(white, 0.9);
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);

  .title {
    font-size: 18px;
    line-height: 1.2;
  }
}

.timer {
  display: contents;
  text-align: center;

  button {
    width: 50%;
  }

  span {
    font-size: xxx-large;
  }

  > * {
    margin-bottom: 30px;
  }
}
