<mat-toolbar color="transparent" class="icon-both">
  <button mat-icon-button aria-hidden="false" aria-label="Voltar" routerLink="/check-in">
    <mat-icon>arrow_back_ios_new</mat-icon>
  </button>
  <span class="spacer"></span>
  <span class="ml-16">Tempo</span>
  <span class="spacer"></span>
  <span class="spacer"></span>
</mat-toolbar>

<div class="p-16 main">
  <form class="form-hours">
    <mat-radio-group color="primary" name="option" [(ngModel)]="option">
      <mat-radio-button *ngFor="let price of prices" [value]="price">
        {{ price.time }} - {{ (price.amount / 100) | currency: 'R$' }}
      </mat-radio-button>
    </mat-radio-group>
  </form>

  <button
    class="w-100"
    mat-raised-button
    color="primary"
    (click)="onChooseOption()"
  >
    PRÓXIMO
  </button>
</div>
