@import '../../../theme';

:host {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  height: 100%;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.amount input {
  text-align: center;
  color: mat-color($md-neru, 500);
  font-weight: bold;
  font-size: 24px;
}
